<div class="p-10 w-full h-full bg-blue-50/50">
  <div class="w-full h-full">
    <div class="w-full flex mt-8 items-center">
      <img src="dashboard_icon_4.svg" alt="" srcset="" class="pr-4" />
      <div>All Blogs</div>
    </div>
    <table class="text-left w-2/3 mt-4">
      <thead>
        <tr>
          <th class="px-2 py-4">#</th>
          <th class="px-2 py-4">BlogTitle</th>
          <th class="px-2 py-4">Date</th>
          <th class="px-2 py-4">Category</th>
          <th class="px-2 py-4">Actions</th>
        </tr>
      </thead>
      <tbody class="">
        @for (blog of blogs; track blog.id) {
          <tr class="border-y border-gray-300">
            <td class="px-2 py-4">{{ $index + 1 }}</td>
            <td class="px-2 py-4">{{ blog.title }}</td>
            <td class="px-2 py-4">{{ blog.created.split("T")[0] }}</td>
            <td class="px-2 py-4 text-green-500">{{ blog.category }}</td>
            <td class="px-2 py-4">
              <img
                src="cross_icon.svg"
                class="cursor-pointer"
                alt=""
                srcset=""
                (click)="deleteBlog(blog.id)"
              />
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
