<div class="h-screen flex justify-center items-center">
  <div
    class="h-1/2 w-1/4 border border-primary rounded-xl shadow-xl flex flex-col gap-3 p-10"
  >
    <div class="flex justify-center items-center flex-col gap-2">
      <h1 class="text-4xl"><span class="text-primary">Login </span>Page</h1>
      <p class="text-center">
        Enter your credentials to access the admin panel
      </p>
    </div>
    <div>Email</div>
    <input
      type="text"
      class="placeholder-gray-500 outline-none border-b-2 border-gray-300"
      placeholder="your email id"
      #email
    />
    <div>Password</div>
    <input
      type="password"
      class="placeholder-gray-500 outline-none border-b-2 border-gray-300"
      placeholder="your password"
      #password
    />
    <div class="flex justify-center mt-6">
      <app-button [size]="'md'" (click)="login(email.value, password.value)"
        >Login</app-button
      >
    </div>
    <div>
      no account
      <a href="/signup" class="cursor-pointer text-primary underline">Signup</a>
    </div>
  </div>
</div>
