<div class="h-[70vh] px-30 flex flex-col items-center gap-4">
  <img
    src="gradientBackground.png"
    alt=""
    srcset=""
    class="absolute -z-50 opacity-50"
  />
  <div class="h-25 w-full flex items-center justify-between">
    <div class="flex items-center gap-4">
      <img src="logo.svg" alt="Angular logo" class="w-60 h-60" />
    </div>
    <app-button
      [rounded]="'fully'"
      [size]="'md'"
      [variant]="'primary'"
      (click)="openLogin()"
      >Login <img src="arrow.svg" alt="" srcset="" class="pl-2 w-6 h-6"
    /></app-button>
  </div>
  <div class="w-full h-1/2 flex flex-col gap-6 items-center justify-center">
    <div
      class="bg-blue-200 rounded-full px-4 text-primary flex justify-center items-center gap-2"
    >
      new ai feature integrated
      <img src="star_icon.svg" alt="" srcset="" />
    </div>
    <h1 class="font-bolder text-6xl">
      <div>Your own <span class="text-primary">blogging</span></div>
      <div class="flex justify-center items-center">platform.</div>
    </h1>
    <p class="w-1/3 text-center text-gray-500">
      This is your space to think out loud, to share what matters, and to write
      without filters. Whether it's one word or a thousand, your story starts
      right here.
    </p>
    <div
      class="w-1/2 flex justify-center relative h-1/8 items-center border border-gray-200 rounded-sm"
    >
      <input
        type="text"
        class="w-full h-full outline-none b-10 bg-white px-4"
        placeholder="Search for blogs"
      />
      <app-button [rounded]="'semi'" [size]="'md'" [variant]="'primary'">
        Search</app-button
      >
    </div>
  </div>
  <div class="flex">
    @for (cat of categories; track $index) {
      <app-button
        [variant]="'link'"
        [size]="'sm'"
        [rounded]="'fully'"
        [ngClass]="{
          'bg-primary rounded-full text-white': cat === categorieSelected,
          'text-gray-500': cat !== categorieSelected,
        }"
        (click)="changeCategories(cat)"
      >
        {{ cat }}
      </app-button>
    }
  </div>
</div>
<div class="w-full flex px-30 flex-wrap -my-25">
  @for (blog of blogs; track $index) {
    <app-card
      class="w-2/9 h-90 m-4 rounded-lg shadow-xl hover:scale-105 duration-300"
    ></app-card>
  }
</div>
<div class="flex justify-center items-center flex-col mt-30 gap-4">
  <h1 class="text-4xl font-bold">Never Miss a blog</h1>
  <p class="text-gray-500">
    Subscribe to get the latest blog, new tech, and exclusive news.
  </p>
  <div
    class="w-1/2 flex justify-center relative h-1/8 items-center border border-gray-200 rounded-sm"
  >
    <input
      type="text"
      class="w-full h-full outline-none b-10 bg-white px-4"
      placeholder="Enter your email id"
    />
    <app-button [rounded]="'semi'" [size]="'md'" [variant]="'primary'">
      Subscribe</app-button
    >
  </div>
</div>
<br />
<br />
<app-footer></app-footer>
